# https://phpstan.org/config-reference

parameters:
	# Rules
	treatPhpDocTypesAsCertain: false
	inferPrivatePropertyTypeFromConstructor: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	polluteScopeWithAlwaysIterableForeach: false
	polluteScopeWithLoopInitialAssignments: false
	reportAlwaysTrueInLastCondition: true
	reportStaticMethodSignatures: true
	reportWrongPhpDocTypeInVarTag: true

	# Configuration
	level: 8
	phpVersion:
		min: 80200
		max: 80500
	bootstrapFiles:
		- axewp-common.php
	paths:
		- axewp-common.php
		- src/
		# Traits must be implemented for PHPStan to analyze them.
		- tools/phpstan/
	excludePaths:
		analyse:
			- tests/
			- vendor/
		analyseAndScan:
			- node_modules (?)
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
